.form-table td {
	padding: 5px;
	padding-right: 30px;
}

.panel-primary, .panel-green, .panel-yellow, .panel-red {
	margin-right: 20px;
    width: 300px;
}

.black-panels {
	border-color: #A0A0A0;
}

.tab-title {
	font-size: 18px;
}

#imgDiv img {
	display: block;
    //margin-left: auto;
    //margin-right: auto;
    width: 800px;
}

#result-pane, #data-pane, #batch-data-pane {
	margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    border-radius: 4px;
}

#resultImages {
	width: 100%;
}

#customizedLayout {
	width: 800px;
    height: 495px;
	display: block;
    //margin-left: auto;
    //margin-right: auto;
    margin-top: 30px;
}

#profileImage {
	width: 300px;
    height: 350px;
}

#layoutTable {
    //margin-top: 25px;
    margin-bottom: 40px;
}